<!-- <section id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="https://i.pinimg.com/custom_covers/222x/734790564142559148_1588646204.jpg"
            class="card-img-top"
            alt="avatar"
          />
          <div class="card-body">
            <h5 class="card-title">{{ myInfor.name }}</h5>
            <p class="card-text">
              {{ myInfor.intro }}
            </p>
            <a href="#" class="btn btn-primary">Send mail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="product-list">
  <div class="container">
    <div class="row">
      <div class="col-4" *ngFor="let product of products">
        <div class="product-item">
          <div class="img-product">
            <img src="{{ product.imgUrl }}" alt="{{ product.name }}" />
          </div>
          <h3>{{ product.name }}</h3>
          <div class="desc">{{ product.desc }}</div>
          <div class="price">{{ product.price }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
